@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/fonts/NeueHaasUnica-Regular.woff2');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: NeueHaasUnica, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background: #1e1e20;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div[data-reach-dialog-overlay] {
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
}

[data-reach-popover] {
  z-index: 1000;
}
